<!DOCTYPE html>
<html>
  <head>
    <title>EquipmentMgmt</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="is-preload">
  	
		<!-- Wrapper -->
		<div id="wrapper">

			<%= render "/shared/header" %>
			
			<%= render "/shared/menu" %>
			<!-- Main -->
			<div id="main">
				<%= yield %>
			</div>

			<%= render "/shared/sidebar" %>
			
		</div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>
</html>
